/* App.css */

/* Estilos base do Gameboy Color */
body {
  background-color: #9bbc0f; /* Verde típico do Gameboy Color */
  color: #0f380f;
  font-family: 'Press Start 2P', cursive; /* Fonte pixelada do Gameboy */
}

.container {
  background-color: #a4b0ae; /* Cor de fundo da tela do Gameboy */
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  color: #000;
}

/* Lista de tarefas */
.list-group {
  padding: 0;
}

.list-group-item {
  background-color: #d0d0d0; /* Cor do bloco de tarefas */
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #6db34f; /* Verde dos botões do Gameboy */
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background-color: #4a8a29; /* Cor ao passar o mouse */
}

.completed {
  background-color: #a0d7a7; /* Verde claro para tarefas completas */
}

/* Adicionar a linha através do texto das tarefas completas */
.completed span {
  text-decoration: line-through;
}

/* Breakpoints */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .list-group-item {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  .list-group-item {
    font-size: 12px;
  }

  button {
    padding: 3px 6px;
    font-size: 12px;
  }
}
